#box1{
    width: 200px;
    height: 200px;
    background-color: hsl(208, 89%, 61%);
    position: fixed;
    top: 0px;
    left: 0px;
    
   
}
#box2{
    width: 100px;
    height: 100px;
    background-color: hsl(0, 89%, 61%);
    position: absolute ;
    top: 50px;
    left: 50px;
}

/* so absolute sticks tightly to the position of the screen a
and doesnt accompany the scroll*/

/* with fixed..the box accompanies the scroll instantly
and with no delay*/

/*with sticky positioning the box remains on its
space till you start scrolling*/

/*Fixed is wonderfull for advertisment on your website
to grab that Google adsense money bag..*/